$colors: (
  primary: (
    100: hsla(318, 94%, 50%, 0.2),
    200: hsla(318, 94%, 50%, 0.4),
    300: hsla(318, 94%, 50%, 0.6),
    400: hsla(318, 94%, 50%, 0.8),
    500: hsla(318, 94%, 50%, 1),
  ),
  secondary: (
    100: hsl(177, 93%, 52%, 0.2),
    200: hsla(177, 93%, 52%, 0.4),
    300: hsla(177, 93%, 52%, 0.6),
    400: hsla(177, 93%, 52%, 0.8),
    500: hsla(177, 93%, 52%, 1),
  ),
  success: (
    500: hsl(143, 100%, 26%),
  ),
  warning: (
    500: hsl(43, 100%, 66%),
  ),
  error: (
    500: hsl(348, 55%, 49%),
  ),
);
