/*----------------------RESET -------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
} */

html {
  font-family: system-ui;
  color-scheme: dark;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6rem;
  min-height: 100vh;
}

img {
  display: inline-block;
  max-width: 100%;
}

a,
p,
ul,
li,
label {
  text-decoration: none;
  list-style: none;
  line-height: 1.35rem;
  padding: 0;
}

figcaption {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.75rem;
}

:root {
  --clr-success: hsl(143, 100%, 26%);
  --clr-warning: hsl(43, 100%, 66%);
  --clr-error: hsl(348, 55%, 49%);
}

/*----------------------GLOBAL -------------------------------*/

@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(318, 94%, 50%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(177, 93%, 52%);
}

/* keyframes that change the color variable */
@keyframes gradient-change {
  to {
    --＠color-1: hsl(177, 93%, 52%);
    --＠color-2: hsl(310 100% 59%);
  }
}

article {
  justify-self: center;
  margin: 1rem;
}

a.btn {
  outline: none;
  position: relative;
  display: inline-block;
  color: hsl(0, 0%, 100%);
  background: hsla(0, 0%, 100%, 0.2);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

a.btn::before {
  border-bottom-right-radius: 1.125rem;
  border-top-left-radius: 1.125rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
  z-index: -1;
  animation: gradient-change 2s linear infinite alternate;
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      */ to right
      in oklch,
    var(--＠color-1),
    var(--＠color-2) /* use the variables in a gradient (or wherever!) */
  );
}

h1 {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;
  padding-block: 1rem;
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      */ to right
      in oklch,
    var(--＠color-1),
    var(--＠color-2) /* use the variables in a gradient (or wherever!) */
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}

/*----------------------FORM -------------------------------*/
input:focus:valid,
input:valid:not(:placeholder-shown) {
  outline-color: var(--clr-success);
}

input:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-error);
}

input:focus:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-warning);
}

.hint {
  color: var(--clr-warning);
}
.error {
  color: var(--clr-error);
}

.hint,
.error {
  display: none;
}

/* input:focus:not(:placeholder-shown) ~ .hint {                 // to uncomment if you start using regex and minvalue for Password
  display: block;
} */

input:not(:focus):invalid:not(:placeholder-shown) ~ .error {
  display: block;
  animation: form-error 250ms 3;
}

@keyframes form-error {
  25% {
    translate: -5px;
  }
  75% {
    translate: 5px;
  }
}

form {
  display: grid;
  gap: 0.75rem;
  width: fit-content;
  margin: 2rem auto;
  font-size: 2rem;
}

.form-group {
  display: grid;
  gap: 0.25rem;
}

input,
label,
button {
  font: inherit;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  outline: 3px solid hsl(203, 30%, 26%);
  font-size: inherit;
  outline: 3px solid hsl(203, 30%, 26%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: hsl(201, 31%, 11%);
}
