/*----------------------RESET -------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }
}

html {
  font-family: system-ui;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.6rem;
  min-height: 100vh;
}

img {
  display: inline-block;
  max-width: 100%;
}

a,
p,
ul,
li,
label {
  text-decoration: none;
  list-style: none;
  line-height: 1.35rem;
  padding: 0;
}

figcaption {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.75rem;
}

:root {
  --pink-primary: hsl(318, 94%, 50%);
  --blue-primary: hsl(177, 93%, 52%);
  --clr-success: hsl(143, 100%, 26%);
  --clr-warning: hsl(43, 100%, 66%);
  --clr-error: hsl(348, 55%, 49%);
  --box-shadow-unlike: 0px 0px 30px 11px var(--blue-primary);
  --box-shadow-like: 0px 0px 30px 12px var(--pink-primary);
}

/* Light Mode */
body.light-mode {
  color-scheme: light;
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark-mode {
  color-scheme: dark;
  background-color: #121212;
  color: #ffffff;
}

button#modeToggle img {
  background: none;
}

/*----------------------GLOBAL -------------------------------*/

@property --＠color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(318, 94%, 50%);
}

@property --＠color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(177, 93%, 52%);
}

/* keyframes that change the color variable */
@keyframes gradient-change {
  to {
    --＠color-1: hsl(177, 93%, 52%);
    --＠color-2: hsl(310 100% 59%);
  }
}

/*-------------------HEADER----------------------*/

ul {
  display: flex;
  justify-content: center;
}

/*----------------------- HOMEPAGE-------------------- */

section > h1 {
  justify-self: center;
}
.error404 {
  display: flex;
  height: 100vh;
  background-color: #fff;
}

#errorParagraphe {
  color: hsl(310 100% 59%);
}

.error404__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.error404__content > p {
  line-height: 2.5rem;
}

.error404__content > div > input {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 3rem;
  border-radius: 10px;
}

.error404__content > div > button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: hsl(310 100% 59%);
  color: hsl(177, 93%, 52%);
}

.error404__content > div > button:hover {
  background-color: hsl(177, 93%, 52%);
  color: hsl(310 100% 59%);
}

article {
  justify-self: center;
  margin: 1rem;
  width: 50vw;
  padding: 3rem;
  border: 1px solid #14f6eb;
  background-color: transparent;
  backdrop-filter: blur(120%);
  box-shadow: 0px 8px 21px 8px rgba(20, 246, 235, 0.1);
  border-radius: 20px;
}

a.btn {
  position: relative;
  display: inline-block;
  color: #000;
  background-color: white;
  font-weight: 800;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  margin-top: 1rem;
}
a.btn::before {
  background-color: #f809b0;
  border-radius: 0.5em;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -0.1rem;
  left: -0.1rem;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
a.btn::after {
  background-color: #14f6eb;
  border-radius: 0.5em;
  content: "";
  top: -0.1rem;
  right: -0.1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

a.btn:hover::before {
  inset: 2px;
  right: -0.1rem;
  top: -0.125rem;
}
a.btn:hover::after {
  inset: 2px;
  left: -0.1rem;
  bottom: -0.1rem;
}

h1 {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;
  padding-block: 1rem;
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      */ to right
      in oklch,
    var(--＠color-1),
    var(--＠color-2) /* use the variables in a gradient (or wherever!) */
  );

  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* modern browser version */
  background-clip: text;
  color: transparent;
}

.article_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.like_button {
  width: 30px;
  height: 30px;
}

.likes {
  position: relative;
  cursor: pointer;
}

.glow-unlike,
.glow-like {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 1px;
}

.glow-unlike {
  box-shadow: var(--box-shadow-unlike);
}

.glow-like {
  box-shadow: var(--box-shadow-like);
}
/*----------------------FORM -------------------------------*/
input:focus:valid,
input:valid:not(:placeholder-shown) {
  outline-color: var(--clr-success);
}

input:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-error);
}

input:focus:invalid:not(:placeholder-shown) {
  outline-color: var(--clr-warning);
}

.hint {
  color: var(--clr-warning);
}
.error {
  color: var(--clr-error);
}

.hint,
.error {
  display: none;
}

input:focus:not(:placeholder-shown) ~ .hint {
  display: block;
}

input:not(:focus):invalid:not(:placeholder-shown) ~ .error {
  display: block;
  animation: form-error 250ms 3;
}

@keyframes form-error {
  25% {
    translate: -5px;
  }
  75% {
    translate: 5px;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container h1 {
  font-size: 36px;
  margin: -10px 0;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
}

form {
  width: 100%;
}

.form-box {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  display: grid;
  place-self: center;
  place-content: center;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
  right: 50%;
}

.form-box.register {
  visibility: hidden;
}
.container.active .form-box.register {
  visibility: visible;
}
.container.active .form-box.login {
  visibility: hidden;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  outline: 3px solid hsl(203, 30%, 26%);
  font-size: inherit;
  outline: 3px solid hsl(203, 30%, 26%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 0;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.formbtn {
  width: 100%;
  height: 48px;
  background: #7494ec;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-box::before {
  content: "";
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      */ to right
      in oklch,
    var(--＠color-1),
    var(--＠color-2) /* use the variables in a gradient (or wherever!) */
  );
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}
.container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}
.container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.toggle-panel p {
  margin-bottom: 20px;
}

.toggle-panel .formbtn {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

/*----------------------FORM-POST -------------------------------*/

.div_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post_codoc {
  border: 1px solid #14f6eb;
  width: 50vw;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 21px 8px rgba(20, 246, 235, 0.1);
}

.post_codoc input {
  height: 100%;
  color: white;
  background-color: #121212;
  border: 1px solid #FFF;
  box-shadow: 0px 8px 21px 8px rgba(20, 246, 235, 0.1);
  border-radius: 5px;
  caret-color: white;
  padding-left: 10px;
}

.post_codoc textarea {
  width: 95%;
  height: 20vh;
  color: white;
  background-color: #121212;
  border: 1px solid #FFF;
  box-shadow: 0px 8px 21px 8px rgba(20, 246, 235, 0.1);
  border-radius: 5px;
  caret-color: white;
  padding-left: 10px;
}

.post_codoc .btn {
}

@media screen and (max-width: 1050px) {
  article {
    width: 40vw;
  }
}

@media screen and (max-width: 650px) {
  article {
    width: 60vw;
  }

  .container {
    height: calc(100vh - 40px);
  }

  .form-box {
    padding: 0px;
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }
  .toggle-panel.toggle-left {
    top: 0;
  }
  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
  .form-box {
    padding: 0px;
  }

  .toggle-panel h1 {
    font-size: 30px;
  }
}
/*----------------------DASHBOARD -------------------------------*/
/* header {
  user-select: none;
  width: 100%;
  display: grid;
  place-self: center;
  justify-items: center;
  padding-block: 1rem;
  margin-inline: 1rem;
  & .header-logo {
    width: 50px;
  }
  & .user-card {
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 100%;
      box-shadow: 0 0 3px 3px var(--blue-primary);
    }

    & .greetings {
      font-size: 1.5rem;
    }
  }
} */
.btn-codoc:hover svg {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}
section#tasks {
  padding-inline: 1rem;
}
